NODE_ENV='development'
COOKIE_DOMAIN="localhost"

# HTTP SERVER
HTTP_PORT=4001
HTTP_HOST='http://localhost:4001'

# JWT
JWT_SECRET='supersecretkeysupersecretkey123456'
JWT_ACCESS_TOKEN_TTL="2h"
JWT_REFRESH_TOKEN_TTL="7d"

# DATABASE
DATABASE_URL=postgresql://postgres:postgres@db:5432/auth-service-db?schema=public


# REDIS
REDIS_PASSWORD='123456'
REDIS_HOST='redis'
REDIS_PORT=6379