NODE_ENV='development'

HTTP_PORT=4004
HTTP_HOST='http://localhost:4004'

DATABASE_URL="postgresql://postgres:postgres@coworking-db:5432/coworking-db?schema=public"


# JWT
JWT_SECRET='supersecretkeysupersecretkey123456'
JWT_ACCESS_TOKEN_TTL="2h"
JWT_REFRESH_TOKEN_TTL="7d"

# API KEYS
INTERNAL_API_KEY=supersecret123

# RABBITMQ
RMQ_URL='amqp://USER:123456@rabbitmq:5672/?heartbeat=60'
RMQ_ACTIVE_BOOKING_QUEUE='booking_active_queue'
RMQ_EXPIRED_BOOKING_QUEUE='booking_expired_queue'