RMQ_URL='amqp://USER:123456@rabbitmq:5672/?heartbeat=60'
RMQ_OTP_QUEUE='notifications_queue'
RMQ_USER_CREATED_QUEUE='user_created_queue'
RMQ_PAYMENT_EVENT_QUEUE='payment_queue'

EMAIL_USER='g.valdemarych@yandex.ru'
EMAIL_PASSWORD='xxxxxxxxxxxxxxxxx'